#warping module
PF-AFN/

#model checkpoint
models/
viton512.ckpt

#datasets
test_pairs.txt
train_pairs.txt
zalando-hd-resized.zip
train/
test/
cloth*
unpaired-*

#others
src/
.DS_Store
ldm/.DS_Store
warp/.DS_Store